    <!-- Scripts -->
    <script>
      $(document).ready(function () {
        $(".menu-toggle").click(function () {
          $("nav").toggleClass("active");
        });
      });
    </script>
    <script src="/js/script.js"></script>
  </body>
</html>