<div class="login-box">
  <h2>Login</h2>
  <form method="post" action="/contact">
    <div class="user-box">
      <input type="text" id="nama" name="nama" required />
      <label for="nama">Full Name</label>
    </div>
    <div class="user-box">
      <input type="text" id="id" name="id" required="" />
      <label for="id">ID Number</label>
    </div>
    <div class="user-box">
      <input type="number" id="nohp" name="nohp" required />
      <label for="nohp">No Handphone</label>
    </div>
    <div class="user-box">
      <input type="email" id="email" name="email" required />
      <label for="email">Email</label>
    </div>
    <span class="action">
      <button type="submit" class="action-button-add">Submit</button>
      <button type="reset" class="action-button-reset">Reset</button>
    </span>
  </form>
  <!-- <span class="action">
    <a class="action-button-back" href="/contact">Back</a>
  </span> -->
</div>
