<div class="contact-detail-background">
  <div class="contact-detail-container">
    <div class="contact-detail-screen">
      <div class="cd-screen-header">
        <div class="cd-screen-header-left">
          <div class="cd-screen-header-button close"></div>
          <div class="cd-screen-header-button maximize"></div>
          <div class="cd-screen-header-button minimize"></div>
        </div>
        <div class="cd-screen-header-right">
          <div class="cd-screen-header-ellipsis"></div>
          <div class="cd-screen-header-ellipsis"></div>
          <div class="cd-screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="cd-screen-body">
        <div class="cd-screen-body-item left">
          <div class="app-title">
            <span>CONTACT</span>
            <span>US</span>
          </div>
          <div class="app-contact">CONTACT INFO : +62 81 314 928 595</div>
        </div>
        <div class="cd-screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input
                class="app-form-control"
                placeholder="NAME"
                value="<%= contact.nama %>"
                readonly
              />
            </div>
            <div class="app-form-group">
              <input
                class="app-form-control"
                placeholder="EMAIL"
                value="<%= contact.email %>"
                readonly
              />
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO" />
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE" />
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">CANCEL</button>
              <button class="app-form-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
