<h1 class="dtrkontak"><i>Daftar Kontak karyawan</i></h1>
<table class="styled-table">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>No Handphone</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Randi Himawan</td>
      <td>081233334444</td>
      <td>randi@email.com</td>
      <td>
        <button class="button-28" type="button"><a href="/">Details</a></button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Putri</td>
      <td>082211113333</td>
      <td>putri@email.com</td>
      <td>
        <button class="button-28" type="button"><a href="/">Details</a></button>
      </td>
    </tr>
    <!-- <tr class="active-row">
      <td>Melissa</td>
      <td>5150</td>
    </tr> -->
    <!-- and so on... -->
  </tbody>
</table>
